PORT=5000
MONGODB_URI=mongodb+srv://abhisheksha818_db_user:Abhishek-700182@note-task.deirkea.mongodb.net/?appName=Note-Task
JWT_SECRET=your_jwt_secret_key_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development
